.popup__conteiner {
  margin: 0 auto;
  padding: 30px 36px 37px 36px;
  position: relative;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  top: 7px;
}


@media screen and (max-width: 615px) {
  .popup__conteiner {
    padding: 0 22px 0 22px;
    max-width: 282px;
    top: 19px;
  }
}