.profile__btn-edit {
  background-color: transparent;
  background-image: url('../../../images/pansel.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -24px;
  top: 14px;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__btn-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__btn-edit {
    top: 9px;
  }
}

@media screen and (max-width: 615px) {
  .profile__btn-edit {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    right: -19px;
  }
}